---
layout: default
title: Blog Page
---

<section class="padded">
    <div class="capped-width grid-center">

    {% for post in site.posts %}
 
    <div class="col-4_xs-12 padded-1 padded-b-2 "> 
        <div class="card"> 
        <a href="{{post.url}}" class="card-click "> 
        
            <div class="bg-image square" style="background-image: url('{{post.featured_image}}')"></div>

            <div class="padded-1">
                
                {% for item in post.categories %}
                <span class="tag"> {{ item }} </span>
                {% endfor %}

                <h4> {{post.title}} </h4>
                <!-- <p> {{post.description}} </p> -->
                <a href="{{post.url}}"> Read More </a>
            </div>
        </a> 
        </div>  
    </div>
 
    {% endfor %}
    </div>
 </section>