---
layout: default
title: Homepage
category: spicy
seo:
  title:
  description:
  social_image:
  twitter_card:
  twitter_description:
  keywords:
  hide-from-google: false
---

<section class="grid padded-b-1 tall-70">
   <div class="col-7_md-12-middle center padded capped-width-narrow"> 
      <h1> Welcome to homepage!</h1>
      <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum corporis sapiente explicabo cumque beatae exercitationem vitae? Fugit consequuntur tempore temporibus ex, magnam, dolor dolores, error ea dignissimos cupiditate doloribus hic.</p>
   </div>

   <picture class="col-5_md-12 center ">
      <source 
            media="(min-width: 64em)"
            srcset="images/rice-field.jpg">
      <source 
            media="(min-width: 48em)"
            srcset="images/asia.jpg" class="img-fit">
      <source 
            media="(min-width: 36em)"
            srcset="images/gate.jpg">
      <img src="/images/zen-studio-3.jpg" class="img-fit" alt="Bali scenery">
   </picture>
  

</section>

<!---- Collection for recipes Section ------->

<section class="grid padded tall-70"> 

   <div class="col-7-middle padded-t-1"> 
      <h3> Chinese cuisine </h3>
      <p class="padded-b-1"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit maiores molestiae dolores. Debitis quam rerum non omnis optio, aut reiciendis at? Nobis repellat sed commodi, ad nihil vero minima voluptate!</p>

      {% assign relevant-recipes = site.recipes | where_exp: "recipe", "recipe.categories contains page.category" %}

      {% for recipe in relevant-recipes %}
      <a href="{{recipe.url}}" class="recipe"> {{recipe.title}} </a>
      {% endfor %}
   </div>
  
   <div class="col-5 bg-image" style="background-image: url('https://source.unsplash.com/n7NOMM5qk7I')"></div>
   
</section>


<!-- Recent Posts Section -->
<section>
   <div class="grid center">   
      <div class="col-12 padded-1"> 
         <h2> Recent Posts </h2> 
      </div>

   {% assign featured_posts = site.posts | where: 'featured', true %}

   {% for post in featured_posts limit:3 %}
  
      <div class="col-4 padded-1  padded-t-1 left">
         <div class="bg-image portrait" style="background-image: url('{{post.featured_image}}')"> </div>
         {% for item in post.categories %}
            <span class="tag"> {{ item }} </span>
         {% endfor %}  

            <h3 class="margin-b-1"> {{ post.title }} </h3>
            <p> {{ post.description | truncatewords:11 }} </p>
            <a class="button" href="{{post.url}}"> Read More </a>
      </div>

  {% endfor %} 
   </div>
</section>