:root {
   --featured 
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { font-family: 'Open Sans', sans-serif;}

header,
footer,
section {
   padding: 5%;
   /* border: 1px solid rgb(186, 184, 184); */
}

/* Typography  */

h1, h2, h3, h4, h5, h6 {
   line-height: 1.1;
   margin-bottom: 1rem;
 }
 h1 { font-size: 2.2rem; }
 h2 { font-size: 2rem; }
 h3 { font-size: 1.8rem; }
 h4 { font-size: 1.6rem; }
 h5 { font-size: 1.4rem; }
 h6 { font-size: 1.2rem; }

p, li {
   line-height: 1.4; 
   margin-bottom: 0.5rem;
   font-size: 1rem;
 }

 p:last-child {margin-bottom: 0;}

a {color: inherit;}

nav a {
   padding: 0.25rem 0.3rem;
   display: inline-block;
   color: inherit;
   text-decoration: none;
}
nav a:hover {color: orange;}

[class*="col-"], [class*="col_"], [class~="col"] {
    padding: 0;
}

.bg-dark { background-color: var(--featured);}
.text-light { color: whitesmoke; } 

.center {text-align: center;}
.right {text-align: right;}
.left {text-align: left;}

.padded { padding: 5%;}
.padded-1 { padding: 1rem; }
.padded-03 { padding: 0.3rem;}

.padded-b-0 { padding-bottom: 0rem;}
.padded-b-1 { padding-bottom: 1rem;}
.padded-b-2 { padding-bottom: 2rem;}
.padded-t-1 { padding-top: 1rem;}

.margin-b-0 {margin-bottom: 0rem;}
.margin-b-1 {margin-bottom: 1rem;}
.margin-t-1 {margin-top: 1rem;}

.tall-70 { min-height: 70vh;}
.tall-80 { min-height: 80vh;}
.tall-90 { min-height: 90vh;}

.square { padding-bottom: 100%; }
.portrait { padding-bottom: 125%; }
.landscape { padding-bottom: 60%; }

.intro {
   text-transform: uppercase;
}

.logo {
   font-size: 3rem;
   font-weight: bold;
   color: var(--featured);
   text-decoration: none;
   margin-bottom: 0;
}
.logo a {text-decoration: none;}

.button {
   border-bottom: 1px solid;
   display: inline-block;
   color: inherit;
   font-size: 0.9rem;
   padding-bottom: 0.15rem;
   margin-top: 0.5rem;
   margin-bottom: 1rem;
   text-decoration: none;
}
.button:hover {color: var(--featured);}

.button-banner { 
   margin-top: 0.5rem;
   display: inline-block;
   text-decoration: none;
   line-height: 1;
   padding: 0.5rem 1.5rem;
   border: 1px solid;
}
.button-banner:hover {
   color: orange;
}

.tag {
    /* border: 1px solid; */
    color: var(--featured);
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.4rem;
    background-color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
 }

 .recent-posts {
    display: block;
    color: inherit;
    text-decoration: none;
 }
 .recent-posts:hover {color: var(--featured);}

.card {box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;}

/* Dropdown menu / archive */

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   position: absolute;
   top: 100%;
   left: 0;
   padding: 0.25rem 0.3rem;
   display: none;
   z-index: 2;
   text-align: left;
   min-width: 8rem;
   border: 1px solid grey;
   background-color: white;
}
.dropdown-content a {
   display: block;
   padding: 0.25rem;
}
.dropdown-title {
   display: inline-block;
   padding: 0.25rem 0.3rem;
}

.dropdown:hover .dropdown-content {
   display: block;
}

 /* Background Image Styles */
.bg-image {
    background-size: cover;
    background-position: center;
 }
 .bg-studio { background-image: url(/images/zen-studio-3.jpg);}

 .capped-width-narrow {
   max-width: 1000px;
   margin: auto;
}