* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header,
footer,
section {
   padding: 5%;
   border: 1px solid rgb(186, 184, 184);
}

[class*="col-"], [class*="col_"], [class~="col"] {
    padding: 0;
}

.center {text-align: center;}

.padded { padding: 5%;}
.padded-1 { padding: 1rem; }
.padded-03 { padding: 0.3rem;}

.padded-b-1 { padding-bottom: 1rem;}
.padded-t-1 { padding-top: 1rem;}

.margin-b-1 {margin-bottom: 1rem;}

.tall-80 { min-height: 80vh;}
.tall-90 { min-height: 90vh;}

.intro {
   text-transform: uppercase;
   background-color: lightgray;
}
.button {
   border: 1px solid orange;
   display: inline-block;
   color: orange;
   padding: 0.5rem;
   margin-top: 1.5rem;
   margin-bottom: 1rem;
}

.tag {
    border: 1px solid;
    color: grey;
    border-radius: 3px;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.25rem;
    background-color: white;
 }

 .recent-posts {
    display: block;
    color: inherit;
    text-decoration: none;
 }
 .recent-posts:hover {color: rgb(108, 108, 145);}

 .card-click {
    text-decoration: none;
    color: inherit;
 }
.card { border: 1px solid grey; 
}
 /* Background Image Styles */
.bg-image {
    background-size: cover;
    background-position: center;
 }
 .bg-studio { background-image: url(/images/zen-studio-3.jpg);}
 
 .square { padding-bottom: 100%; }
 .landscape { padding-bottom: 60%; }

 .capped-width-narrow {
   max-width: 1000px;
   margin: auto;
}