
<div class="col-4_xs-12 padded-1 "> 
    <div class="card"> 
        
    <a href="{{post.url}}" class="card-click "> 
        <div class="bg-image square" style="background-image: url('{{post.featured_image}}')"></div> 
    </a> 

        <div class="padded">
            
            {% for item in post.categories %}
            <span class="tag"> {{ item }} </span>
            {% endfor %}

            <h3> {{post.title}} </h3>
            <p> {{post.description | truncatewords:10 }} </p>
            <!-- <a href="{{post.url}}" class="button"> Read More </a> -->
        </div>
    
    </div>  
</div>