<!DOCTYPE html>
<html lang="en">
    
<head>
    {% include head.html %}
    
</head>

<body>
    
    <header class="grid bg-light padded-b-2 padded-t-2">
        <div class="col-5 logo"> 
            <a href="/index.html"> 
                <h1 class="margin-b-0"> LOGO </h1> 
            </a> 
        </div>

        <nav class="col-7-middle right">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blog">Blog</a>

            <div class="dropdown">
                <span class="dropdown-title"> Category</span>
                <div class="dropdown-content">
                    <a href="/archives/travel"> Travel </a>
                    <a href="/archives/life"> Self Care </a>
                </div>
            </div>

        </nav>
    </header>

    {% include inline-styles.html %}
    
    {{content}}

    <footer class="text-light bg-dark">
        <h3> Let's connect </h3>
        <p> this is our footer </p>
    </footer>
</body>

</html>